* {
	box-sizing: border-box;
	margin: 4px;
}

body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
display: inline-flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__video {
	vertical-align: top;
	margin-right: 2px;
	width: 60%;
	max-width: 600px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 25px;
	position: absolute;
	margin-top: -30px;
	text-align: center;
	color: brown;

}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
	color:  #f8f7f4;
	text-align: center;
	font-family: 'colobri';
}
.contenido-principal__resumen .p{
	font-family: 'Open Sans', sans-serif;
	line-height: 8px;
	color:  #f8f7f4;
	font-family: 'colobri';
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 10%;
}

.carousel__anterior {
	left: -30px;
	color: #fff;
	
}

.carousel__siguiente {
	right: -30px;
	color: #fff;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}


.imagen{
	margin-top: -1200px;
}
.label {
  padding-left: 1px;
  /*position: absolute;*/
  /*margin-top: -78px;*/
  /*z-index: -20;*/
  color:  #F2A20C;
  /*transition: all 0.2s;*/
  margin: 0;
  font-size: 14px;
}
.input {
	width: 100%;
	background: white;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #0c0c0c;
	font-family: 'calibri';
	font-size: 10px;
	padding-left: auto;
	text-align: center;
	
  }
.caja {
	width: 100%;
	background: white;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 1px;
	border: 1px solid #0c0c0c;
	font-family: 'calibri';
	font-size: 10px;
	padding-left: auto;
}
.boton{
	display: block;
	text-align: center;
	background-color: chartreuse;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #f8f7f4;
	border-radius: 20px;
	font-size: 25px;
}
.formulario {
	width: 800px;
	max-width: 800px;
	margin: auto;
	margin-top: 60px;
	padding: 40px;
	
	position: center;
	
	
}


